@model IEnumerable<SultansKitchen.Entity.CookType>

@Html.Partial("~/Views/Shared/_ContentHeader.cshtml")

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni", "Process")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Process", new { item.ID }) |
                @Html.ActionLink("Sil", "Delete", new { item.ID })
            </td>
        </tr>
    }

</table>
